<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
  style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
  <div class="auth-box">
    <div id="loginform" >
      <div class="logo">
        <span class="db"><img src="assets/images/Logo_icon36*30.png" alt="logo" /></span>
        <h5 class=" m-b-20">Recover Your Password </h5>
      </div>
      <!-- Form -->
      <div class="row">
        <div class="col-12">
          <form class="form-horizontal m-t-20" id="loginform" (ngSubmit)="submit()"
            [formGroup]="form">
            <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                </div>
                <input type="password" class="form-control form-control-lg" placeholder="Password"
                  [formControl]="form.controls.sNewPassword" aria-label="Password" aria-describedby="basic-addon1">
              </div>
              <div style="padding-left: 40px;" class="messages text-danger error" *ngIf="form.controls['sNewPassword'].hasError('required') && (form.controls['sNewPassword'].dirty ||
                                              form.controls['sNewPassword'].touched)"><i
                  class="fa fa-exclamation-circle text-danger"></i> Password
                is required.</div>
              <div class="messages text-danger error" style="padding-left:40px;" *ngIf="form.controls['sNewPassword'].hasError('pattern') && (form.controls['sNewPassword'].dirty ||
                                                                form.controls['sNewPassword'].touched)"><i
                  class="fa fa-exclamation-circle text-danger"></i> Password
                must have 8 letters.</div>
            </div>
            <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                </div>
                <!-- class="!form.controls['sNewRetypedPassword'].hasError('required') ? form.errors?.matchPass ? 'form-control form-control-lg custom-border abc' : 'form-control form-control-lg custom-border' : 'form-control form-control-lg custom-border'" -->
                <input type="password" class="form-control form-control-lg "
                  [ngClass]="!form.controls['sNewRetypedPassword'].hasError('required') && form.errors?.matchPass ? 'customerror':''"
                  placeholder="Confirm Password" [formControl]="form.controls.sNewRetypedPassword" aria-label="Password"
                  aria-describedby="basic-addon1">
              </div>
              <div class="messages text-danger error" style="padding-left :40px;" *ngIf="form.controls['sNewRetypedPassword'].hasError('required') && (form.controls['sNewRetypedPassword'].dirty ||
                                              form.controls['sNewRetypedPassword'].touched)"><i
                  class="fa fa-exclamation-circle text-danger"></i> Confirm Password
                is required.</div>
              <!-- <span class="messages text-danger error" style="padding-left: 40px;" *ngIf="!form.controls['sNewRetypedPassword'].hasError('required') && !form.get('sNewRetypedPassword').valid"><i
                class="fa fa-exclamation-circle text-danger"></i>
              Confirm password not matched.
            </span> -->

              <div class="messages text-danger error" style="padding-left: 40px;"
                *ngIf="!form.controls['sNewRetypedPassword'].hasError('required') && form.errors?.matchPass"><i
                  class="fa fa-exclamation-circle text-danger"></i> Confirm password and New password is not match.
              </div>
            </div>

            <div class="form-group text-center">

              <div class="col-xs-12 p-b-20">
                <button type="submit" [disabled]="!form.valid|| btndisable" class="btn btn-block btn-lg btn-info"
                  style="background-color: #0678e1; color: white">
                  <i class="fa fa-spinner fa-spin" *ngIf="showloader"></i>{{showloader?
                  '' : 'Reset Password'}}
                </button>
                <!-- <button class="btn btn-block btn-lg btn-info" type="submit">Log In</button> -->
              </div>
            </div>
            <div class="form-group m-b-0 m-t-10">
              <!-- <div class="col-sm-12 text-center">
                                Don't have an account? <a href="#/authentication/signup" class="text-info m-l-5"><b>Sign
                                        Up</b></a>
                            </div> -->
              <div class="col-sm-12 text-center" >
                <a [routerLink]="['/']">Back to Login.</a></div>
             
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>